<h1>Course Name</h1>
<p>Lorem!!!!!!!!!!!!!!!!!!m enim sit amet lectus euismod, sed consectetur nibh vulputate. Aenean pellentesque, lorem id
  mattis volutpat, felis odio pretium neque, vel lobortis tortor purus vel nunc. Morbi eget leo a urna semper aliquet
  non a arcu.aaa</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let purpose of purposes; index as i">
      <tr>
        <td>{{purpose.id}}</td>
        <td>{{purpose.title}}</td>
        <td>{{purpose.description}}</td>
        <td>
          <div class="form-check form-switch">
            <ng-container *ngIf="previouslyRegisteredPurposeIDs.includes(purpose.id); then thenBlock else elseBlock"></ng-container>
            <ng-template #thenBlock>
              <input class="form-check-input" type="checkbox" id="purpose{{purpose.id}}" checked>
            </ng-template>
            <ng-template #elseBlock>
              <input class="form-check-input" type="checkbox" id="purpose{{purpose.id}}">
            </ng-template>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<br/>
<button class="btn btn-primary float-end" (click)="onSave()">Save</button>

