<div class="container">
  <div class="card">
    <div class="card-header" style="text-align:center">
      <h1>Welcome!</h1>
    </div>
    <div class="card-body">
      <p>This is the site of the Privacy Control Service. It is a project which intends to allow users to easily and
        securely manage their private data. This is offered to both end-level users and data processors. Functionality
        will be provided based on the type of user. To begin, please log in using the button in the top right corner.
        Afterwards you will be given access to your intended functions on the navigation bar above. Refreshing the
        page a couple of times after login might be necessary.</p>
      <img src="assets/PCSLogoFull.png" class="rounded mx-auto d-block" width="384" height="288"/>
    </div>
  </div>
</div>
