<div>
  <h1>Data Processing Purposes
    <span class="float-end">
      <a routerLink="/purposes/create" type="button" class="btn btn-success">Create</a>
    </span>
  </h1>
</div>
<p>
  This is the control panel for Data Collection Purposes. Purposes represent reasons for data processing
  and define sources of data collection. These purposes are available to be included in any course/service registered
  at this Privacy Control Service.
</p>
<ng-container *ngFor="let purpose of purposes; index as i">
  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <h3>
        [{{purpose.id}}] {{purpose.title}}
        <span class="float-end">
          <a [routerLink]="['/purposes',purpose.id]" type="button" class="btn btn-primary">Edit</a>
        </span>
      </h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{purpose.description}}</li>
    </ul>
  </div>
  <br/>
</ng-container>

