<div class="container">
  <div class="row">
    <h1>Course Students</h1>
  </div>
  <div class="row">
    <p>Here is a list of students that have been invited to configure their privacy
      setting for this course. To invite new students, click on the button below.</p>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Pseudonym</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ student.email }}</td>
        <td>{{ student.pseudonym }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-primary" (click)="open(content)">Invite Students</button>
</div>
<hr>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Invite students</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="email">Student email:</label>
        <input formControlName="email" class="form-control" id="email" type="email">
        <div *ngIf="submitted && f['email'].errors" class="alert alert-danger">
          <div *ngIf="f['email'].errors['required']">Required</div>
          <div *ngIf="f['email'].errors['email']">Must be email form</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Invite</button>
    </div>
  </form>
</ng-template>

