<h1>Overview of Services</h1>
<p>Here you can take a look at all the courses you are participating in and their services:</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Service</th>
    <th scope="col">Course</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="services">
    <ng-container *ngFor="let service of services; index as i">
      <tr *ngFor="let course of service.courses; index as g">
        <th scope="row">{{ i + 1 }}</th>
        <td *ngIf="g==0" [attr.rowspan]="service.courses.length">{{ service.id }}</td>
        <td><a [routerLink]="['/consent',service.id,course.id]">{{course.name}}</a></td>
        <td>{{course.description}}</td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
