<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand">Privacy Control Service</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a routerLink="/consent-overview" class="nav-item nav-link">Consent Overview</a>
        <a href="#" class="nav-item nav-link">Collected Data</a>
        <a routerLink="/purpose-overview" class="nav-item nav-link">Data Processing Purposes</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a href="#" class="nav-item nav-link">Login</a>
      </div>
    </div>
  </div>
</nav>
