<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Privacy Control Service</a>
    <button class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/consent">Consent Overview</a>
        <a class="nav-item nav-link" href="#">Collected Data</a>
        <a class="nav-item nav-link" routerLink="/purposes">Data Processing Purposes</a>
        <a class="nav-item nav-link" routerLink="/manager">Manager Overview</a>
        <a class="nav-item nav-link" routerLink="/dpo">DPO Overview</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" href="#">Login</a>
      </div>
    </div>
  </div>
</nav>
